<template>
  <div class="footer">
    <footer>
      <p>Barcha Huquqlar himoyalangan</p>
    </footer>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
<style lang="scss" scope>
.footer {
  background-color: #fff;
  padding: 10px 15px;
  color: #444;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
